<div id="app">
    <section class="section">
        <h4 class="text-center m-4">Department List</h4>
        @* dept list  *@
        <div class="card">
            <div class="card-header justify-content-around">
                <h5 class="m-4">Available Departments</h5>
                <a href="#" class="btn btn-icon px-3 py-2 icon-left btn-primary"><i class="far fa-edit"></i> Add Department</a>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table table-striped table-md">
                        <tr>
                            <th>Department Name</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>

                        <tr>
                            <td>Neurology</td>
                            <td>Random Desc</td>
                            <td>

                                <i class="fas fa-pen mx-2" style="color: purple; font-size: 19px;"></i>
                                <i class="fas fa-trash" style="color: #ff0000; font-size: 19px;"></i>
                            </td>
                        </tr>

                    </table>
                </div>
            </div>

        </div>
    </section>
</div>